body {
    text-align: center;
}

.main-btn {
    color: white;
    font-weight: 300;
    display: block;
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    margin-top: 10px;
    border: #009866 solid 1px;
    background: #009688;
    border-radius: 10px;
}

p {
    margin: 15px;
    padding-left: 5px;
    text-align: left;
}

.back-btn {
    padding: 10px;
    margin-left: 60%;
    margin-bottom: 50px;
    margin-top: 20px;
    background: none;
    border: none;
}